[submodule "FileReferenceMacros"]
	path = FileReferenceMacros
	url = https://github.com/BlazesRus/FileReferenceMacros.git
[submodule "MFCTextViewer"]
	path = MFCTextViewer
	url = https://github.com/BlazesRus/MFCTextViewer.git
[submodule "MFCApp"]
	path = MFCApp
	url = https://github.com/BlazesRus/MFCApp.git
[submodule "XMLViewer"]
	path = XMLViewer
	url = https://github.com/BlazesRus/XMLViewer.git
[submodule "NifTreeView"]
	path = NifTreeView
	url = https://github.com/BlazesRus/NifTreeView
